$first-text-color : #FFFFFF;
$second-text-color : #FE8D01;
$third-text-color : #2C4472;
$fourth-text-color : #656464;
$five-text-color : #0A093D;
$six-text-color : #217BF4;
$background-color-mobile : #E8EAED;
@font-face {
    font-family: "Iran-Sans";
    src: url("Iran-sans-web/Sansa4fran3.woff") format("woff"),
    url("/assets/Iran-sans-web/Sansa4fran3.woff") format("woff");
  }

*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  main{
      overflow-x: clip;
  }
  body{
      direction: rtl;
      font-family: Iran-Sans;
  }
.header-salman{
    .nav-salman{
        display: grid;
        grid-template-columns: 10% 80% 10%;
    }
    .myclass{
        display: block;
    }
    .showhide{
        display: none !important;
    }
   background-image: url(./image/header-bg.png);
   background-size: cover;
   width: 100%;
   height: 100vh;
   .nav-bar{
       display: flex;
   }
   .nav-bar-ul{
       display: flex;
       justify-content: center;
       margin: 0 auto;
       text-decoration: none;
       list-style-type: none;
       
   }
   .nav-bar-li{
    padding: 20px;
   }
   .nav-bar-li:hover{
    border-bottom: 2px solid $second-text-color;
   }
   .nav-bar-a{
       text-decoration: none;
       color: $first-text-color;
   }
   .left-icon-nav-bar{
       display: flex;
       padding: 20px;
       color: $first-text-color;
   }
   .right-icon-nav-bar{
    display: flex;
    padding: 20px;
  } 
.h1-header{
   text-align: center;
   color: $first-text-color;
   padding-top: 38px;
   font-size: 50px;
   height: 120px;
  
}
.p-header{
    text-align: center;
    color: $first-text-color;
    padding: 20px;
    margin-top: 25px;
}
.header-brands{
    display: flex;
    margin: 60px auto 0 auto;
    justify-content: center;
}
.header-brands-img{
    padding: 35px;
}

@media only screen and (max-width: 460px) {
         height: 52vh;
    .nav-bar-ul{
        display: none;
       
    }
    .nav-bar{
        justify-content: space-between;
    }
    .h1-header{
        padding-top: 79px;
        font-size: 25px;

    }

    .p-header{
        margin-top: 16px;
        font-size: 12px;
        
    }
   .header-brands-img{
    padding: 6px;
    width: 59px;
   }
   .header-brands{
    margin: 30px auto 20px auto;
   }
   .right-div-icon{
       display: none;
   }
   .nav-salman{
    grid-template-columns: auto auto;
    justify-content: space-between;
   }
  }
}
.mobile-div{
    overflow-x: clip;
    
    .mobile-div-path{
        position: absolute;
        right: 38%;
        bottom: 0;
        width: 170px;
    }
    .mobile-div-img{
      width: 750px;
      height: 600px;
      margin-top: -290px;
    }
    
        
        height: 340px;
     @media only screen and (max-width: 460px){
     background-color: $background-color-mobile;
     .mobile-div-img{
        width: 355px;
        height: 360px;
        margin: 0 auto;
        z-index: 0;
        margin-top: -56px;
        
       }
       .mobile-div-path{
        
        height: 19px;
        
        
       }
       .img-boxes-triangle{
        top: -26px;
        left: 65px;
        width: 23px;
        display: none;
       }
        height: 361px;
    }
}


.our-servises{
    margin-top: 0;
    line-height: 3rem;
    position: relative;
    
   h1{
        text-align: center;
        color: $five-text-color;
    }
    .boxes{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-gap: 5px;
        text-align: center;
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: 50px auto 0 auto;
        position: relative;
        
    }
    .img-boxes-triangle{
        position: absolute;
        top: -126px;
        left: 129px;

    }
    .box1-h2{
        color: $second-text-color;
    }
    .box2{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .box1{
        border-radius: 10px;
        padding: 20px;
    }
    .box2{
        border-radius: 10px;
        padding: 20px;
    }
    .box3{
        border-radius: 10px;
        padding: 20px;
    }
    .box4{
        border-radius: 10px;
        padding: 20px;
    }
    .box5{
        border-radius: 10px;
        padding: 20px;
    }
    .box6{
        border-radius: 10px;
        padding: 20px;
    }
    @media only screen and (max-width: 460px){
        .img-boxes-triangle{
            top: -26px;
            left: 65px;
            width: 23px;
           }
           .boxes{
            grid-template-columns: auto;
            margin: 0 auto;
            border-radius: 15px;
            grid-gap: 20px;
            width: 88%;
            padding-bottom: 40px;
           }
           background-color: $background-color-mobile;
           .box1{
            background-color:$first-text-color;
           }
           .box2{
            background-color:$first-text-color;
           }
           .box3{
            background-color:$first-text-color;
           }
           .box4{
            background-color:$first-text-color;
           }
           .box5{
            background-color:$first-text-color;
           }
           .box6{
            background-color:$first-text-color;
           }
           h1{
            padding-bottom: 25px;
        }
    }
}

.salman-text{
    background-image: url(./image/options-bg.png);
    background-size: cover;
    width: 100%;
    height: 550px;
    text-align: center;
    margin-top: 80px;
    .salman-text-p-first{
        padding-top: 100px;
        color: $second-text-color;
    }
    .salman-text-p{
        color: $first-text-color;
        padding-top: 100px;
    }
    .salman-text-h1{
        padding-top: 100px;
        color: $first-text-color;
    }
    @media only screen and (max-width: 460px){
        background-color: $background-color-mobile;
        margin-top: 0;
        height: 270px;
        .salman-text-p{
            padding-top:20px;
        }
        .salman-text-p-first {
            padding-top: 23px;
        }
        .salman-text-h1{
            padding-top: 25px;
        }
      
    }
}

.our-blog{
    
    .our-blog-mother-body{
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    }
    .down-p{
        color: $fourth-text-color;
    }
    .top-p{
        font-weight: bold;
      
    }
    .our-blog-h2{
        text-align: center;
        margin-bottom: 20px;
        color: $five-text-color;
    }
    .our-blog-div{
        width: 350;
        height: 70px;
        background-color: $first-text-color;
        padding: 15px;
        border-radius: 15px;
        display: grid;
        grid-template-columns: auto auto;
        line-height: 1.5rem;
        grid-column-gap: 15px;
        align-items: center;
        font-size: 9px;

        img{
            width: 52px;
        }
    }
    .our-blog-mother{
        display: grid;
        grid-template-columns: auto auto;
        
    }
  
       
        
        .out-blog-up{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
        }
   

    .our-blog-inside{
      background-image: url(./image/Group44975.png);
      background-size: cover;
      width: 100%;
      height: 600px;
      position: relative;
      
      
    }
    .our-blog-inside-inside{
      height: 350px;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      margin-top: 165px;
      padding-right: 115px;

    }
    .our-blog-button{
        margin: 0 auto;
        display: block;
    }
    .our-blog-p{
        text-align: center;
        color : $fourth-text-color;
        margin-top: 30px;
    }
    .our-blog-img{
        height: 460px;
        margin-top: 115px;
    }
    .our-blog-button{
        width: 140px;
        height: 40px;
        border: none;
        background-color: $second-text-color;
        border-radius: 25px;
        color: $five-text-color;
        
    }
    .our-blog-body{
        display: grid;
        grid-template-rows: auto auto auto;
    }
    .our-blog-under-deatals{
        display: grid;
        grid-template-columns: auto auto;
        color: $fourth-text-color;
        font-size: 12px;
    }
    .our-blog-keep{
        display: grid;
        grid-template-columns: 90% 10%;
        align-items: center;
    }
    .our-blog-keep-img{
      width: 15px !important;
    }
    .our-blog-keep-p{
        text-align: left;
    }
    .our-blog-div-up{
      margin-right: 40px;
      
    }
    .our-blog-div-down{
      margin-right: 40px;
    
    }
    .our-blog-path-left{
        position: absolute;
        bottom: 122px;
        right: 54px;
        width: 90px;
    }
    .our-blog-path-right{
        position: absolute;
        width: 90px;
        
    position: absolute;
    width: 90px;
    left: 60px;
    top: 133px;

    }
    @media only screen and (max-width: 460px){
         
        .our-blog-mother{
            grid-template-columns: auto;
        }
        .our-blog-img{
            display: none;
        }
        .our-blog-inside{
            background-image: none;
        }
        .our-blog-inside-inside{
            padding: 0;
        }
        .our-blog-div-up{
            margin-right: 0;
        }
        .our-blog-div-down{
            margin-right: 0;
        }
        .our-blog-div{
            width: 90%;
        }
        .our-blog-p{
            display: none;
        }
        background-color: $background-color-mobile;
    }
  }
  .our-options{

      position: relative;
      .our-options-h2{
          text-align: center;
          color: $five-text-color;
          margin: 100px 0px 20px 0;
      }
      .our-option-img-path1{
          position: absolute;
          left: 80px;
          top: -60px;
      }
      .our-option-img-path2{
        position: absolute;
        left: 96px;
        top: -27px;
       
      }

      .our-options-inside{
        background-image: url("./image/Group-bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 95%;
        height: 600px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 5% 1fr 1fr 5%;
        align-items: center;
        grid-gap: 20px;
      }
   .our-options-svg-r{
       display: grid;
       align-items: center;
       float: right;
       height: 100%;
       padding-right: 10px;
   }
   .our-options-svg-l{
    display: grid;
    align-items: center;
    float: left;
    height: 100%;
    padding-left: 10px;
}
  .our-options-text{
      h2{
          text-align: right;
          color: $second-text-color;
          padding-bottom: 40px;
      }
      p{
           text-align: right;
           color: $first-text-color;
           padding: 0 0 20px 90px;
           line-height: 2.2rem;
      }

  }
  .our-options-img{
      display: grid;
      grid-template-columns: 30% 50% 20%;
  }
  .div2-box{
      width: 90%;
      margin: 0 auto;
      height: 300px;
      background-color: #FFFFFF;
      border-radius: 20px;
      display: grid;
      padding: 20px;
  }
  .div2-header{
      display: grid;
      grid-template-columns: 20% 80%;
  }
  .div2-more{
      
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      color: $five-text-color;
   
  }
    .div2-inside{
    padding: 15px 18px;
    }
    p{
        color: $fourth-text-color;
    }
    .div2-under-p{
        color: black;
    }
    .our-options-text-mobile{
        display: none;
    }
    .div1-img{
        width: 104px;
    }
    .div3-img{
        width: 76px;
    }
    
    
    
    
    @media only screen and (max-width: 460px){
        background-color: $background-color-mobile;
        .our-options-h2{
            margin: 55px 0px 20px 0;
        }
        .our-option-img-path1{
            display: none;
        }
        .our-option-img-path2{
            display: none;
        }
        .our-options-inside{
            background-image: url('./image/background-specials.png');
            grid-template-columns: 5% 90% 5%;
            height: 357px;
            grid-gap: 0;
            width: 100%;
        }
        .our-options-svg-r{
            padding-right: 0;
        }
        .our-options-text{
            display: none;
            
        }
        .option-arrow{
            width: 17;
        }
        .div2-box{
            padding: 10px;
            height: 235px;
            width: 85%;
            font-size: 11px;
        }
        .our-options-img{
            justify-items: center;
            align-items: center;
        }
        .div1-img{
            width: 130px;
            padding-bottom: 87px;
        }
        .div2-img{
            width: 42px;
        }
        .div3-img{
            width: 82px;
            padding-top: 50px;
        }
        .div2-header{
            align-items: center;
        }
        .our-options-text-mobile{
             display: block;
             height: 162px;
             background-color: #1664FF;
             text-align: center;
             padding: 20px;
             line-height: 2rem;
             font-size: 13px;
    
        }
        .our-options-text-mobile-p{
            color: $first-text-color;
        }
        .our-options-text-mobile-h2{
            color: $second-text-color;
        }
    
    }
  }

  .our-team{
      text-align: center;
      position: relative;

      .our-team-img-triangle-down{
          position: absolute;
          right: 133px;
          bottom: 163px;
      }
      
      .our-team-img-circle{
          position: absolute;
          right: 60px;
          bottom: 43px;
          
      }
      .our-team-img-triangle{
        position: absolute;
        left: 170px;
        top: 95px;

        
      }
      .our-team-img-path{
          position: absolute;
          left: 0;
          width: 700px;
          top: -65px;
      }
      .our-team-p-onvan{
          margin-top: 65px;
      }
      .our-team-h2-onvan{
          color: $five-text-color;
          margin-top: 70px;
      }
       .our-team-inside-up{
           display: grid;
           grid-template-columns: auto auto auto auto;
           grid-row: auto auto;
           line-height: 2rem;
           width: 80%;
           margin: 0 auto;
           border-radius: 25px;
           grid-gap: 20px;
       }

       .our-team-inside-down{
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-row: auto auto;
        width: 70%;
        margin: 0 auto;
        line-height: 2rem;
        margin-top: 20px;
        grid-gap: 20px;
    }
     
    .our-team-p-under{
        color: $fourth-text-color;
        margin-top: 40px;
    }
    .our-team-under-under{
        color: $six-text-color;
        margin: 40px 0 80px 0;
    }  
   .our-team-down{
       margin-top: 20px;
   }
   .our-team-picture{
       width: 90%;
       padding: 15px 0;
       box-shadow: 1px 1px 1px rgba(116,115,128,0.1);
       border-radius: 25px;
       height: 280px;
   }
 
   .our-team-up-img{
       width: 170px;
       
   }
   .under{
       color: $fourth-text-color;
   }
   @media only screen and (max-width: 460px){
    .our-team-img-path{
        top: 125px;
        z-index: -2;
    }
       .our-team-inside-up{
          grid-template-columns: auto;
       }
       .our-team-inside-down{
           display: none;
       }
   
    .our-team-picture{
        display: none;

    }
    .our-team-picture-first{
        display: block;
        background-color: white;
    }
    .our-team-img-triangle{
        display: none;
    }
    .our-team-img-triangle-down{
        display: none;
    }
    .our-team-img-circle{
        display: none;
    }
}

  }

  .our-organization{
      margin-top: 80px;
      background: linear-gradient(360deg,#E4E4E4,#FFFFFF 50%);

      .our-organization-h2{
          color: $five-text-color;
          text-align: center;
          margin-bottom: 60px;
      }
      .our-organization-img{
          margin: 0 auto;
      }
      .our-organization-inside{
          display: grid;
          grid-template-columns: auto auto auto;
          width: 80%;
          margin: 0 auto;
          align-items: center;
          position: relative;
          padding-bottom: 100px;
          overflow-x: clip;
                      
      }
      .img-path-top-right{
          position: absolute;
          left: 250px;
          top: -19px;
      }
      .img-path-top-left{
          position: absolute;
          top: -19px;
          right: 220px;
      }
      .img-path-bottom-right{
       position: absolute;
       bottom: 50px;
       left: 240px;
    }
     .img-path-bottom-left{
       position: absolute;
       bottom: 0;
       bottom: 100px;
       right: 159px;
    }
     
      .our-organization-img img{
          height: 450px;
        
      }
      .our-organization-up{
          display: grid;
          grid-template-rows: auto auto;
          width: 250px;
          grid-gap: 10px;
          background-color: $first-text-color;
          border-radius: 10px;
          padding: 25px;
          overflow: initial;
      }
      .our-organization-down{
        display: grid;
        grid-template-rows: auto auto;
        width: 250px;
        grid-gap: 10px;
        background-color: $first-text-color;
        border-radius: 10px;
        padding: 25px;
        overflow: initial;
    }
      .our-organization-inside-box{
          display: grid;
          grid-template-columns: 20% 80%;
          align-items: center;
          grid-gap: 10px;


      }
      .our-organization-boxes{
          display: grid;
          height: 70%;
          margin-bottom: 50px;
          justify-content: center;
          overflow: initial;


      }
      .our-organization-inside-box-img{
          width: 50px;
         
      }
      .our-organization-boxes-mobile{
        display: none;      
     }
      @media only screen and (max-width: 460px){
        .our-organization-inside{
            grid-template-columns: auto;
            width: 100%;
        }
        .img-path-top-right{
            display: none;
        }
        .img-path-top-left{
            display: none;
        }
        .img-path-bottom-left{
            display: none;
        }
        .img-path-bottom-right{
            display: none;
        }
        .our-organization-boxes{
            display: none;
        }
        .our-organization-img img{
            height: 440px;
            width: 100%;
        }
        .our-organization-boxes-mobile{
            display: block;
            margin: 0 auto;      
         }
         .our-organization-up-mobile{
             width: 280px;
             border-radius: 15px;
             margin: 15px auto;
         }
      }
  }
  .our-comments{
    display: grid;
    /* grid-template-columns: 10% auto; */
    grid-template-columns: 10% 80% 10%;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 600px;
    position: relative;
   .our-comment-img-right{
      position: absolute;
      bottom: 0;
      right: 66px;
      width: 130px;
   }
   .our-comment-img-left{
    position: absolute;
    left: 259px;
    top: 103px;
    width: 60px;
   }
 .our-comments-inside{
       display: grid;
       grid-template-columns: 20% 80%;
       width: 30%;
       margin: 0 auto;
       align-items: center;
       justify-items: start;
       grid-gap: 40px;
       padding: 20px;
 }
    
 .our-comments-inside img{
    width: 60px;
}
.our-comments-img{
    width: 180px;
    
}
.our-comments-svg{
    margin: 0 40px;
}
.our-comments-2{
    width: 100px !important;
}
@media only screen and (max-width: 460px){
    height: 490px;
    .our-comment-img-left{
        width: 35px;
    }
    .our-comment-img-right{
          width: 80px;
    }
    .our-comments-img{
        width: 125px;
    }
}
  }

  .our-product{
      text-align: center;
      background-color: #1D2669;
      height: 95%;
      position: relative;
      
      .our-product-img-path-right{
         position: absolute;
         right: 158px;
         bottom :75px ;
         width: 100px;
      }
      .our-product-img-path-left{
         position: absolute;
         left: 158px;
         top: 75px;
         width: 100px;
      }
      .our-products-h2{
          color: $second-text-color;
          padding: 70px 0;
      }
      .our-products-p{
          color: $first-text-color;
      }

      .our-products-inside{
       display: grid;
       grid-template-columns: 10% 80% 10%;
       align-items: center;
       

    }
    .our-products-svg img {
        width: 65px;
    }
    .our-product-more{
        display: grid;
        grid-template-columns: 90% 10%;
        width: 100px;
        margin: 0 auto;
        color: $first-text-color;
    }
    .our-product-more img {
       width: 35px;
    }
    .our-products-inside-mobile{
        display: none;
    }
 @media only screen and (max-width: 460px){
     height: 75%;
     .our-products-inside{
         display: none;
     }
     .our-products-inside-mobile{
        display: grid;
        /* grid-template-columns: auto auto auto; */
        grid-template-columns: 10% 40% 40% 10%;
        align-items: center;
        justify-items: center;
     }
     .our-product-img{
         width: 190px;
         margin: 0 auto;
     }
     .our-products-svg img{
         width: 40px;
     }
    .our-product-img-path-left{
        right: 0;
    }
    .our-product-img-path-right{
        right: initial;
        left: 0;
        bottom: 20px;
    }
 }

  }
  .contact-us{
      text-align: center;
      color: $first-text-color;
      background-color: #141D5A;
      height: 300px;
      border-top: 1px solid white;
      position: relative;
      .contact-us-h2{
          padding-top: 80px;
      }
      .contact-us-img-path-right{
         position: absolute;
         width: 200px;
         right: 341px;
         top: 63px
         
      }
      .contact-us-img-path-left{
        position: absolute;
        width: 200px;
        left: 290px;
        top: 15px;
      }
      .cotact-us-p{
          padding-top: 20px;
      }
      .inside-contact-us{
          padding-top: 20px;
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;
      }
      .contact-us-input{
          width: 40%;
          height: 50px;
          border-radius: 25px;
          
         
      }
      
      .contact-us-button{
          width: 47px;
          height: 43px;
          border-radius: 30px;
          margin-right: -57px;
          border: none;
          background-color: $second-text-color;
      }
      img{
          width: 20px;
      }
      @media only screen and (max-width: 460px){
        .contact-us-img-path-left{
            display: none;
        }
        .contact-us-img-path-right{
            display: none;
        }
        .contact-us-h2{
            padding-top: 55px;
        }
        .contact-us-input{
            width: 81%;
        }

    }
  }
  .footer-salman{
      
      .footer-salaman-img-path1{
       position:absolute;
       left: 192px;
       top: 10px;
      }
      .footer-salaman-img-path2{
        position:absolute;
        left: 634px;
        top: 120px;
    }
    .footer-salaman-img-path3{
        position:absolute;
        left: 636px;
        top: 13px;
    }
      .footerr-salman-p{
          color: $fourth-text-color;
      }
      .footer-salman-div{
          padding: 40px;
      }
      .footer-salman-img{
          width: 50px;
          padding-bottom: 20px;
      }
      .footer-salman-div-ul{
          list-style-type: none;
          line-height: 2rem;
      }
      .footer-salman-div-p{
          color: $five-text-color;
          margin-bottom: 25px;
      }
      .footer-salman-div-li{
          color: $fourth-text-color;
      }
      .icons-img{
          padding: 5px;
          width: 20px;
      }
      .under-footer{
        color: $fourth-text-color;
        border-top: 1px solid $fourth-text-color;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 10px 0 40px 0;
        
    }
    .footer-salman-inside{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 80%;
        margin: 30px auto;
        position: relative;
        
    }
    @media only screen and (max-width: 460px){
       .footer-salman-inside{
           grid-template-columns: 1fr;
       }
       .footer-salman-div{
           padding: 0;
       }
       .footer-salman-img{
        margin: 0 auto;
        display: block;
       }
       .footer-salaman-img-path1{
           left: 20px;
           width: 14px;
       }
       .footer-salman-icons{
           text-align: center;
       }
       .footer-salman-div{
           text-align: center;
       }
    }



    
    
         
    
  }



  /* Add a black background color to the top navigation */
.topnav {
    
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }


  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav{
        display: block;
    }
    .topnav a{
     display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }







